body{
    background-image: url(MC.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.botones{
    position: absolute;
    left: 34.5%;
    top: 60%;
    
}

.recuadro{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    box-sizing: content-box;
    width: 500px;
    height: 250px;
    background-color: rgba(248, 249, 250, 0.281);
    position: absolute;
    top: 28%;
    left: 33%;

}

.inputs{
    position: absolute;
    top:40%;
    left:38.5%;
}

.resultado{
    text-align: center;
    position: absolute;
    top:49.5%;
    left:48.25%;
}

.titulo{
    position: absolute;
    top:28%;
    left:44%;
}

.recuadro1{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 15px;border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    box-sizing: content-box;
    width: 350px;
    height: 25px;
    background-color: rgba(253, 253, 253, 0.753);
    position: absolute;
    top: 47%;
    left: 37.75%;

}

.titulo2{
    position: absolute;
    top:41%;
    left:46.5%;
}

.resultadoL{
    text-align: center;
    position: absolute;
    top:49.5%;
    left:40%;
}